<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_class_2021.dinh_thi_thanh_huong_b17dcat089_n5_bt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dinh_thi_thanh_huong_b17dcat089_n5_bt">
        <activity android:name=".Lesion4_bai3"></activity>
        <activity android:name=".Lession4_bai1" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>